<div class="payment-gateway-icons">
  {% for icon in icons %}
    <div class="payment-gateway-icon">
      <img src="{{ icon.url }}" alt="{{ icon.icon_name }}" title="{{ icon.icon_name }}" style="max-width: 50px; max-height: 50px;" />
    </div>
  {% endfor %}
</div>
